.git
.gitignore
.dockerignore
node_modules
vendor
.env
.DS_Store
docker-compose.yml
docker-compose.override.yml
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log
*.md